{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>Liste des Produits</h1>

    <div class="jolilien">
        <a href="/modif_user/{{ user_id }}">Modifier le profil</a><br>
        <a href="/create">Créer un produit</a><br>
        <a href="/logout">Se déconnecter</a>
    </div>

    {% for produit in produits %}
    <a href="/produit/{{ produit.Id }}" class="link">
        <div class="container">
            <div class="card">
                <div class="item">
                    <img class="img" src="https://via.placeholder.com/150">
                    <h2>Nom : {{ produit.nom }}</h2>
                    <h3>Prix : {{ produit.prix }}</h3>
                    <h3>Durée de livraison : {{ produit.DureeLivraison }} jours</h3>
                    
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock %}
