{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="header" id="myHeader">
		<header id="containerD">
			<div class="centerHeadLogo">
				<a class="centerHeadLogo" href="/index">
					<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
				</a>
			</div>
			<form class="searchbar" action='/login' method='post'>
				<input type='text' name='rechercher' placeholder="Rechercher"/></form>
			{% if app.user %}
				<div class="connex">
					<form action='/show_panier' method='post'>
						<a href="/show_panier">Panier</a>
					</form>
				</div>
			{% else %}	
				<div class="connex">
					<form action='/login' method='post'>
						<a href="/login">Connexion</a>
					</form>
				</div>
			{% endif %}
		</div>
	</header>
	<div class="content">
		<nav>
			<ul class="centerHead">
				<li>
					<a href="/index">Accueil</a>
				</li>
				<li>
					<a href="/create">Créer un produit</a>
				</li>
				<li>
					<a href="https://google.fr/">Categorie</a>
				</li>
				<li>
					<a href="https://google.fr/">Autre</a>
				</li>
			</ul>
		</nav>
	</div>

	<h1>{{ produit.nom }}</h1>

	<img src="https://via.placeholder.com/150" class="center">

	<p>Description :
		{{ produit.Description }}.
		{{ produit.Stock }}
		en stock</p>


	<p>Sa durée de livraison est de
		{{ produit.DureeLivraison }}
		jours</p>

	{% if app.user %}
		<a href="/add_panier/{{ produit.Id }}" class="retour">Ajouter au panier</a>
	{% endif %}


	<a href="/modif/{{ produit.Id }}" class="retour">Modifier le produit</a>

	<a href="/delete/{{ produit.Id }}" class="retour">Supprimer le produit</a>

	

	<h3>Liste des commentaires : </h3>

	{% for commentaire in commentaires %}
		<div>
			{{ commentaire.commentaire }}
		</div>
	{% endfor %}

	{% if app.user %}
		<div class="retour">
			{{ form(form) }}
		</div>
	{% endif %}



	<h3>Moyenne des Notes : </h3>

	<div>
		{{ moyenne }}
	</div>

	{% if app.user %}
		<div class="retour">
			{{ form(form_note) }}
		</div>
	{% endif %}


</div>{% endblock %}
