{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="header" id="myHeader">
			<header id="containerD">
				<div class="centerHeadLogo">
					<a class="centerHeadLogo" href="/home">
						<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
					</a>
				</div>
				<form class="searchbar" action='/recherche' method='post'>
					<input type='text' name='rechercher' placeholder="Rechercher"/></form>
				{% if app.user %}
					{% if role == "ROLE_ADMIN" %}
						<div class="connex">
							<form action='/create' method='post'>
								<a href="/create">
									<button type="button" class=" btn btn-primary btn-lg">
										Créer un produit
									</button>
								</a>
							</form>
						</div>
					{% else %}
						<div class="connex">
							<form action='/show_panier' method='post'>
								<a href="/show_panier">
									<button type="button" class=" btn btn-primary btn-lg">
										Panier
									</button>
								</a>
							</form>
							<span>Solde :
								{{user.Solde}}
								€</span>
						{% endif %}
					{% else %}
						<div class="connex">
							<form action='/login' method='post'>
								<a href="/login">
									<button type="button" class=" btn btn-primary btn-lg">
										Connexion
									</button>
								</a>
							</form>
						</div>
					{% endif %}

				</div>
			</header>
		</div>

		<ul class="nav justify-content-center">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Catégorie
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="/categorie/Jouets">Jouets</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Livres">Livres</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Musique DVD et Blu-ray">Musique DVD et Blu-ray</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Jeux vidéo et console">Jeux vidéo et console</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/High-Tech">High-Tech</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Sport et loisir">Sport et loisir</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Cuisine et Maison">Cuisine et Maison</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Bricolage et jardin">Bricolage et jardin</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Animalerie">Animalerie</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Vêtements Chaussures et Bijoux">Vêtements Chaussures et Bijoux</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Informatique">Informatique</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Beauté et Santé">Beauté et Santé</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Épicerie et Boisson">Épicerie et Boisson</a>
					</li>
				</ul>
			</li>
			{% if app.user %}
				{% if role == "ROLE_ADMIN" %}
					<li class="nav-item">
						<a class="nav-link active" href="/admin_membres">Gérer les membres</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/modif_user/{{ user.Id }}">Modifier le profil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Recommandation</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="../logout">Se déconnecter</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/register">Inscription</a>
				</li>
			{% endif %}
		</ul>

		<div class="espace">
			<h1 class="display-4 font-weight-bold mb-4">{{ produit.nom }}</h1>
		</div>
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="inscrip">
					<div>

						<img src="{{ asset('images_produits/' ~ produit.ImageName) }}" class="center-block">

						<div class="espace">
							<p>Description :
								{{ produit.Description }}.
								<br>
								Il y en a
								{{ produit.Stock }}
								en stock.</p>

							<p>Prix :
								{{ produit.Prix }}
								€</p>


							<p>Sa durée de livraison est de
								{{ produit.DureeLivraison }}
								jours.</p>

							<div class="inscrip">
								{% if app.user %}
									{% if role == "ROLE_ADMIN" %}
										<a href="/modif/{{ produit.Id }}" class="btn btn-primary">Modifier le produit</a>
										<a href="/delete/{{ produit.Id }}" class="btn btn-primary">Supprimer le produit</a>
										<a href="/admin" class="btn btn-primary">Retour</a>
									{% else %}
										<a href="/add_panier/{{ produit.Id }}" class="btn btn-primary">Ajouter au panier</a>
										<a href="/home" class="btn btn-primary">Retour</a>
									{% endif %}
								{% else %}
									<a href="/home" class="btn btn-primary">Retour</a>
								{% endif %}
							</div>

							<div class="espace">
								<h3>Liste des commentaires :
								</h3>

								{% for commentaire in commentaires %}

									<div class="espace">
										{{ commentaire.commentaire }}
									</div>
								{% endfor %}

								{% if app.user %}
									{% if Achat_TF %}
										<div class="espace">
											<div class="retour">
												{{ form(form) }}
												</div>
											</div>
										{% endif %}
									{% endif %}

									<div class="espace">
										<h3>Moyenne des Notes :
										</div>
									</h3>

									<div class="espace">
										{{ moyenne }}
									</div>

									{% if app.user %}
										{% if Achat_TF %}
											<div class="espacebas">
												<div class="espace">
													<div class="retour">
														{{ form(form_note) }}
														</div>
													</div>
												</div>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
