{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="header" id="myHeader">
			<header id="containerD">
				<div class="centerHeadLogo">
					<a class="centerHeadLogo" href="/index">
						<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
					</a>
				</div>
				<form class="searchbar" action='/recherche' method='post'>
					<input type='text' name='rechercher' placeholder="Rechercher"/></form>
				{% if app.user %}
					{% if role == "ROLE_ADMIN" %}
						<div class="connex">
							<form action='/create' method='post'>
								<a href="/create">
									<button type="button" class=" btn btn-primary btn-lg">
										Créer un produit
									</button>
								</a>
							</form>
						</div>
					{% else %}
						<div class="connex">
							<form action='/show_panier' method='post'>
								<a href="/show_panier">
									<button type="button" class=" btn btn-primary btn-lg">
										Panier
									</button>
								</a>
							</form>
							<span>Solde :
								{{user.Solde}}
								€</span>
						{% endif %}
					{% else %}
						<div class="connex">
							<form action='/login' method='post'>
								<a href="/login">
									<button type="button" class=" btn btn-primary btn-lg">
										Connexion
									</button>
								</a>
							</form>
						</div>
					{% endif %}

				</div>
			</header>
		</div>

		<ul class="nav justify-content-center">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Catégorie
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="#">Foot</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Rugby</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="#">Chaussures</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Veste</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Camion</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Tracteur</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Sac à dos</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Voiture</a>
					</li>
				</ul>
			</li>
			{% if app.user %}
				{% if role == "ROLE_ADMIN" %}
					<li class="nav-item">
						<a class="nav-link active" href="admin_membres">Gérer les membres</a>
					</li>
				{% endif %}
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="register">Inscription</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="../logout">Se déconnecter</a>
			</li>
		</ul>

		<div class="espace">
			<h1>{{ produit.nom }}</h1>
		</div>
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="inscrip">
					<div>

						<img src="{{ asset('images_produits/' ~ produit.ImageName) }}" class="center-block">

						<div class="espace">
							<p>Description :
								{{ produit.Description }}.
								<br>
								Il y en a
								{{ produit.Stock }}
								en stock.</p>

							<p>Prix :
								{{ produit.Prix }}
								€</p>


							<p>Sa durée de livraison est de
								{{ produit.DureeLivraison }}
								jours.</p>

							<div class="inscrip">
								{% if app.user %}
									{% if role == "ROLE_ADMIN" %}
										<a href="/modif/{{ produit.Id }}" class="btn btn-primary">Modifier le produit</a>
										<a href="/delete/{{ produit.Id }}" class="btn btn-primary">Supprimer le produit</a>
										<a href="/admin" class="btn btn-primary">Retour</a>
									{% else %}
										<a href="/add_panier/{{ produit.Id }}" class="btn btn-primary">Ajouter au panier</a>
										<a href="/home" class="btn btn-primary">Retour</a>
									{% endif %}
								{% else %}
									<a href="/home" class="btn btn-primary">Retour</a>
								{% endif %}
							</div>

							<div class="espace">
								<h3>Liste des commentaires :
								</h3>

								{% for commentaire in commentaires %}

									<div class="espace">
										{{ commentaire.commentaire }}
									</div>
								{% endfor %}

								{% if app.user %}
									<div class="espace">
										<div class="retour">
											{{ form(form) }}
											</div>
										</div>
									{% endif %}

									<div class="espace">
										<h3>Moyenne des Notes :
										</div>
									</h3>

									<div class="espace">
										{{ moyenne }}
									</div>

									{% if app.user %}
										<div class="espace">
											<div class="retour">
												{{ form(form_note) }}
												</div>
											</div>
										{% endif %}
										<div></div>
									</div>
								</div>
							</div>
						</div>
						<div class="espace">
							<footer class="bg-light text-center text-lg-start">
								<div class="container p-4">
									<div class="row">
										<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
											<h5 class="text-uppercase">Gauthier Michon</h5>
											<p>
												Je suis un élève en Bachelor 2 informatique à Ynov et je suis l'un des fondateurs de Toby&Fifi. Toby&Fifi est un site e-commerce connu mondialement pour sa livraison efficace.
											</p>
										</div>
										<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
											<h5 class="text-uppercase">Sacha Voisin</h5>
											<p>
												Je suis un élève en Bachelor 2 informatique à Ynov et je suis l'un des fondateurs de Toby&Fifi. Toby&Fifi est un site e-commerce connu mondialement pour sa livraison efficace.
											</p>
										</div>
									</div>
								</div>
								<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
									© 2021 Copyright:
									<a class="text-dark" href="https://LesCrack.com/">LesCrack.com</a>
								</div>
							</footer>
						</div>
					</div>
				{% endblock %}
