{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="header" id="myHeader">
		<header id="containerD">
			<div class="centerHeadLogo">
				<a class="centerHeadLogo" href="/index">
					<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
				</a>
			</div>
			<form class="searchbar" action='/login' method='post'>
				<input type='text' name='rechercher' placeholder="Rechercher"/></form>
			<div class="connex">
				<form action='/login' method='post'>
					<a href="/login">Connexion</a>
				</form>
			</div>
		</div>
	</header>
	<div class="content">
		<nav>
			<ul class="centerHead">
				<li>
					<a href="/index">Accueil</a>
				</li>
				<li>
					<a href="/create">Créer un produit</a>
				</li>
				<li>
					<a href="https://google.fr/">Categorie</a>
				</li>
				<li>
					<a href="https://google.fr/">Autre</a>
				</li>
			</ul>
		</nav>
	</div>

	<h1>{{ produit.nom }}</h1>

	<img src="https://via.placeholder.com/150" class="center">

	<p>Description :
		{{ produit.Description }}</p>


	<<<<<<<HEAD<p>Ceproduitcoûte{{produit.Prix}}euros.{{produit.Stock}}enstock</p>=======<ahref="/add_panier/{{produit.Id}}"class="retour">Ajouteraupanier</a>>> {% if app.user %} {% endif %}>>>>> 1aff3be6878a9027cd013412cb203c6a10c6358c

	<p>Sa durée de livraison est de
		{{ produit.DureeLivraison }}
		jours</p>

	<button class="center">Ajouter au panier</button>

	<a href="/modif/{{ produit.Id }}" class="retour">Modifier le produit</a>

	<a href="/delete/{{ produit.Id }}" class="retour">Supprimer le produit</a>


	<a href="/" class="retour">Retour</a>
</div>{% endblock %}
