{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!
{% endblock %}
{% block body %}
	<div class="example-wrapper">
		<div class="header" id="myHeader">
			<header id="containerD">
				<div class="centerHeadLogo">
					<a class="centerHeadLogo" href="/home">
						<h1><img id="logoTB" src="logo2.png" alt="logo du site"></h1>
					</a>
				</div>
				<div class="connex">
					<form action='/create' method='post'>
						<a href="/create">
							<button type="button" class=" btn btn-primary btn-lg">
								Créer un produit
							</button>
						</a>
					</form>
				</div>
			</header>
			<ul class="nav justify-content-center">
				<div class="ecarte">
					<li class="nav-item">
						<a class="btn btn-primary" href="admin_produits">Gérer les produits</a>
					</li>
				</div>
				<div class="ecarte">
					<li class="nav-item">
						<a class="btn btn-primary" href="admin_membres">Gérer les membres</a>
					</li>
				</div>
				<div class="ecarte">
					<li class="nav-item">
						<a class="btn btn-primary" href="logout">Se déconnecter</a>
					</li>
				</div>
			</ul>
			<div class="espace">
				<h1>Statistiques Globales du site :
				</div>
			</h1>
			<div class="espace">
				<div class="container">
					<table class="table table-bordered table-dark">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nombre de ventes des 7 derniers jours</th>
								<th scope="col">Revenus des 7 derniers jours</th>
								<th scope="col">Nombre de ventes totales</th>
								<th scope="col">Revenus totaux</th>
								<th scope="col">Nombre de membre du site</th>
							</tr>
						</thead>
						<tr>
							<th scope="row">1</th>
							<td>{{ total_ventes_7 }}</td>
							<td>{{ total_prix_7 }}
								€</td>
							<td>{{ total_ventes }}</td>
							<td>{{ total_prix }}
								€</td>
							<td>{{ total_membres }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	{% endblock %}
