{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<div class="header" id="myHeader">
			<header id="containerD">
				<div class="centerHeadLogo">
					<a class="centerHeadLogo" href="/home">
						<h1><img id="logoTB" src="../logo2.png" alt="logo du site"></h1>
					</a>
				</div>
				<form class="searchbar" action='/recherche_users' method='post'>
					<input type='text' name='rechercher_users' placeholder="Rechercher l'email des Membres"/></form>
				<div class="connex">
					<form action='/create' method='post'>
						<a href="/create">
							<button type="button" class=" btn btn-primary btn-lg">
								Créer un produit
							</button>
						</a>
					</form>
			</header>
		</div>
		<ul class="nav justify-content-center">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Catégorie
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="/categorie/Jouets">Jouets</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Livres">Livres</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Musique DVD et Blu-ray">Musique DVD et Blu-ray</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Jeux vidéo et console">Jeux vidéo et console</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/High-Tech">High-Tech</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Sport et loisir">Sport et loisir</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Cuisine et Maison">Cuisine et Maison</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Bricolage et jardin">Bricolage et jardin</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Animalerie">Animalerie</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Vêtements Chaussures et Bijoux">Vêtements Chaussures et Bijoux</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Informatique">Informatique</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Beauté et Santé">Beauté et Santé</a>
					</li>
					<li>
						<a class="dropdown-item" href="/categorie/Épicerie et Boisson">Épicerie et Boisson</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="admin_produits">Gérer les produits</a>
			</li>
            <li class="nav-item">
				<a class="nav-link active" href="../logout">Se déconnecter</a>
			</li>
		</ul>

		<div class="espace">
			<h1>{{ membre.nom }} {{ membre.prenom }}</h1>
		</div>
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="inscrip">
					<div>

						<img src="{{ asset('images_users/' ~ membre.ImageName) }}" class="center-block">

						<div class="espace">
							<p>Email :
								{{ membre.Email }}</p>

							<p>Date de naissance :
								{{ membre.DateNaissance|date("d-m-Y") }}</p>

							<p>Solde :
								{{ membre.Solde }} €</p>

							<div class="inscrip espacebas">
                                <a href="/modif_user/{{ membre.Id }}" class="btn btn-primary">Modifier le membre</a>
                                <a href="/delete_user/{{ membre.Id }}" class="btn btn-primary">Supprimer le membre</a>
                                <a href="/admin" class="btn btn-primary">Retour</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
